{% import "macros.html" as macros %}
{% extends "team.html" %}


{% block teamHelp %}

<div class="container p-2" id="teamHelper" style="color: black">  

    <a style="font-size:24px" href="/team" role = "button" class="fa fa-close btn" > </a>

    <div id="textHelper"> 
        <h3>Teamwork is dreamwork!</h3>
        <p>There is nothing more important than good team cohesion during a sprint.
            The team can be distributed across the world and still be able to work together thanks not only to the website but also to the
            communication tools that are available to you! 
        </p>
        <p>Good agile methodology dictates that regular meetings promote work transparency and allows to gauge the workload and progress of the sprint.
           This is achieved through regular scrums which gathers the team.
           So get online and start communicating with your team!
        </p> 
     
    </div>
      
</div>

{% endblock %}