{% extends "toDoList.html" %}

{% block modify%}

<div class="container p-3">
    <form class="form-horizontal" action="/modify/{{ key }}" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" id="task" name="task" placeholder="{{ task }}" value="{{ task }}" required minlength="1" pattern="[a-z0-9._%+- ]{1,100}"/>
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>

{% endblock %}