{% extends "home.html" %}

{% block adminView %}

<div class="container p-4">
  <h1>Users List</h1>
  
  <div class="container p-3">
    <table class="table">
      <thead>
        <tr>
          <th>Action</th>
          <th>Username</th>
        </tr>
      </thead>

      <tbody>
        {% for user in user_list %}
        <tr>
          <!-- Actions -->
          <td>
            <!-- If not an admin -->
            {%if user.group == False%}
            {% if user.blocked == True%}
            <a class="btn btn-danger" href="/bloc_user/{{ user.id }}" role="button">Blocked</a>
            {% else %}
            <a class="btn btn-outline-danger" href="/bloc_user/{{ user.id }}" role="button">Unblocked</a>
            {% endif %}
            {%endif%}

            {% if user.role == True%}
            <a class="btn btn-dark" href="/change_group/{{ user.id }}" role="button">Admin</a>
            {% else %}
            <a class="btn btn-outline-dark" href="/change_group/{{ user.id }}" role="button">Normal</a>
            {% endif %}
          </td>
        
          <!-- Username -->
          <td>{{ user.username }}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}